<%- include ('partials/header.ejs') %> <%- include ('partials/main_nav.ejs') %>

<!--<img src="img/logo.png" alt="logo">-->

<main class="container">
  <div
    class="jumbotron"
    style="background-color: #cfeaf2; color: #444; padding: 30px"
  >
    <h1 style="font-size: 36px; color: #333">Welcome to <%= title %> Page</h1>
    <div class="section row">
      <h2 class="col-12">Projects</h2>
    </div>
    <div class="section row">
      <h2 class="col-12">Technologies Used</h2>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <img src="/img/logo/html.png" alt="HTML" class="img-fluid" />
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <img src="/img/logo/css.png" alt="CSS" class="img-fluid" />
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <img src="/img/logo/Js.png" alt="JavaScript" class="img-fluid" />
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <img src="/img/logo/nodejs.png" alt="Node.js" class="img-fluid" />
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <img src="/img/logo/expressjs.png" alt="Express.js" class="img-fluid" />
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <img src="/img/logo/bootstrap.png" alt="Bootstrap" class="img-fluid" />
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <img src="/img/logo/jquery.png" alt="jQuery" class="img-fluid" />
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <img src="/img/logo/react.png" alt="react" class="img-fluid" />
      </div>
    </div>
  </div>
</main>

<%- include ('partials/bottom_nav.ejs') %> <%- include ('partials/footer.ejs')
%>
