<%- include ('partials/header.ejs') %> <%- include ('partials/main_nav.ejs') %>

<!--<img src="img/logo.png" alt="logo">-->

<main class="container">
  <div class="jumbotron" style="background-color: #f9f9f9; padding: 30px">
    <h1 style="font-size: 36px; color: #333">
      Welcome to My <%= title %> Page
    </h1>
    <div class="section">
      <h3>Services Offered</h3>
      <p>
        Greetings! As a dedicated digital creator, I offer a range of
        personalized services tailored to elevate your online presence. My
        expertise lies in crafting visually captivating and user-friendly
        experiences. Here's how I can assist you:
      </p>
      <ul>
        <li>
          Web Design: Transforming ideas into visually appealing and intuitive
          websites that reflect your unique style and purpose.
        </li>
        <li>
          Web Development: Bringing websites to life with seamless functionality
          and smooth navigation, ensuring an exceptional user experience.
        </li>
        <li>
          Graphic Design: Creating eye-catching visuals and graphics that
          enhance your personal brand, making a memorable impression.
        </li>
      </ul>
    </div>
    <div class="section">
      <h2>Skills at Your Service</h2>
      <p>In my toolkit, I possess expertise in the following technologies:</p>
      <ul>
        <li>
          HTML: Structuring web content with precision, ensuring clarity and
          accessibility in every design.
        </li>
        <li>
          CSS: Styling websites with creativity, making layouts visually
          appealing and user interfaces intuitive.
        </li>
        <li>
          JavaScript: Enhancing interactivity and engagement, creating dynamic
          and immersive digital experiences.
        </li>
      </ul>
      <p>
        Explore my portfolio to witness the fusion of creativity and technology.
        Together, let's craft a digital presence that speaks volumes about your
        unique identity and talents.
      </p>
    </div>
  </div>
</main>

<%- include ('partials/bottom_nav.ejs') %> <%- include ('partials/footer.ejs')
%>
